{{!-- <h1>{{title}}</h1>
<p>Welcome toooo {{title}}</p> --}}

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="d-flex flex-grow-1">
        <a href="/" class="navbar-brand">Awesome</a>
        <form class="mr-2 my-auto w-100 d-inline-block order-1">
            <div class="input-group">
                <input id="search" type="text" class="form-control border border-right-0" placeholder="Search">
                <span class="input-group-append">
                    <button class="btn btn-outline-dark border border-left-0" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    
</nav>

<div class="container">
    <ul id="results" class="list-unstyled">
        <li class="py-2">
            <p>No results found.</p>
        </li>
    </ul>
</div>

